<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520371543372-f9s3ksv6c9t7mimr2r6ia9vdhkdpf123.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520371543372-f9s3ksv6c9t7mimr2r6ia9vdhkdpf123</string>
	<key>API_KEY</key>
	<string>AIzaSyBb42OZuDkN9Tl17hta9ar4RAKBxFQHkAI</string>
	<key>GCM_SENDER_ID</key>
	<string>520371543372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thehousie.com</string>
	<key>PROJECT_ID</key>
	<string>zeder-8cd2c</string>
	<key>STORAGE_BUCKET</key>
	<string>zeder-8cd2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520371543372:ios:d212a6ed4b7c57043583e9</string>
	<key>DATABASE_URL</key>
	<string>https://zeder-8cd2c-default-rtdb.firebaseio.com</string>
</dict>
</plist>